/*This section has got a same css edits that who are in ClickCardMath.css  */
/*But there is some changes in css edit*/ 

.title-card-1-arabic{
  position: absolute;
  color: #6e29f8;
  display: flex;
  font-size: x-large;
  font-weight: 800;
  }


  